.laptop-details-main-container{
    border: solid 3px black;
    text-align: center;
    display: flex;
    height: 50em;
    justify-content: space-between
}

.laptop-img-container{
    border: solid 3px green;
    margin: auto;
}

.laptop-img-container img{
    width: 550px;
}
.laptop-information-container{
    border: solid 3px greenyellow;
    margin: auto;
}

@media screen and (max-width: 1024px){
	.laptop-details-main-container{
		flex-direction: column;
	}
}